[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
ipykernel = "*"
jupyter = "*"
jupyterlab = "*"
surprise = "*"
sklearn = "*"
timeit = "*"
seaborn = "*"

[requires]
python_version = "3.8"
